* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #0d1b2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1,
header h2 {
  color: #e0e1dd;
}

header h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
}

header h2,
content h2 {
  font-size: 1.5rem;
}

header h2 {
  margin-bottom: 2rem;
}

nav {
  display: flex;
  gap: 10rem;
  margin-bottom: 1.5rem;
}

nav button {
  appearance: none;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 12px;
  background-color: #e0e1dd;
}

nav button:hover {
  background-color: #778da9;
}

#content {
  background-color: #415a77;
  color: #e0e1dd;
  flex: auto;
}

#intro-img-pair {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#text-content {
  max-width: 75ch;
}

#text-content h2,
#content h2 {
  margin: 1rem 0;
}

#text-content p {
  font-size: 1.1rem;
}

#content img {
  height: 25rem;
}

#content h2 {
  text-align: center;
}

#menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: fit-content;
  margin: 0 auto 2rem auto;
}

.card {
  background-color: #e0e1dd;
  color: #0d1b2a;
  width: 45ch;
  padding: 1rem;
  border-radius: 8px;
}

.card h3 {
  font-size: 1.3rem;
}

footer {
  background-color: #e0e1dd;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}
